<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>vishal</display-name>
  <servlet>
    <servlet-name>signupController</servlet-name>
    <servlet-class>SignupController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>signupController</servlet-name>
    <url-pattern>/signup</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>signinController</servlet-name>
    <servlet-class>SigninController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>signinController</servlet-name>
    <url-pattern>/signin</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>InventoryController</servlet-name>
    <servlet-class>inventory.InventoryController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InventoryController</servlet-name>
    <url-pattern>/invent</url-pattern>
    <url-pattern>/update</url-pattern>
    <url-pattern>/delete</url-pattern>
    <url-pattern>/list</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SalesController</servlet-name>
    <servlet-class>sales.SalesController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SalesController</servlet-name>
    <url-pattern>/insert_sales</url-pattern>
    <url-pattern>/update_sales</url-pattern>
    <url-pattern>/delete_sales</url-pattern>
    <url-pattern>/list_sales</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CustomerController</servlet-name>
    <servlet-class>customer.CustomerController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CustomerController</servlet-name>
    <url-pattern>/addCustomer</url-pattern>
    <url-pattern>/updateCustomer</url-pattern>
    <url-pattern>/deleteCustomer</url-pattern>
    <url-pattern>/customer</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ProductControllerServlet</servlet-name>
    <servlet-class>product.ProductControllerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductControllerServlet</servlet-name>
    <url-pattern>/products_new</url-pattern>
    <url-pattern>/products_insert</url-pattern>
    <url-pattern>/products_edit</url-pattern>
    <url-pattern>/products_delete</url-pattern>
    <url-pattern>/products_update</url-pattern>
    <url-pattern>/products</url-pattern>
  </servlet-mapping>
</web-app>